# Set to 'true' if the proxy strips the subfolder
# Set to 'false' if the proxy passes the subfolder through to the app
# (My IIS configuration wont pass the subfolder to the host) so this toggles if better auth will go to /api/auth or subfolder/api/auth
PROXY_STRIPS_PATH=false

# USED BY scripts/system-start.js TO SET THE PORT FOR server.js
PORT=3000

# IN AN ENVIRONMENT WHERE YOU ARE SERVING FROM A SUBFOLDER BEHIND A REVERSE PROXY
# YOU CAN ADD THE FOLDER NAME HERE, OTHERWISE THINGS DONT ALWAYS WORK NICE
NEXT_PUBLIC_SUBFOLDER_PATH=
NEXT_PUBLIC_BASE_URL=http://localhost:3000

#I WANTED THE OPTION TO TOGGLE DEVELOPMENT CODE, WHILE IN PRODUCTION
#SO THIS IS A SECOND VARIABLE, SETTING IT TO development WILL CAUSE SOME EXTRA THINGS TO BE LOGGED
NEXT_PUBLIC_ENVIRONMENT=development

#IF YOU WANT TO SEE EXTRA DEBUGGING LOGS UNCOMMENT THIS VARIABLE
#NEXT_PRIVATE_DEBUG_CACHE=1

#USED FOR PUBLIC/SERVER ENDPOINT VERIFICATION
PRIVATE_INTERNAL_API_KEY=6666

# BETTER AUTH CONFIGURATION 
# AUTH_SECRET = RSA256 STRING

BETTER_AUTH_SECRET=0000

TRUSTED_ORIGINS=http://localhost:3000

#
# DATABASE SETTINGS 
# 

# THIS SHOULD BE A REAL EMAIL, SO THAT THE SEED SCRIPT CAN CREATE A USER
# AND SET THEM AS AN ADMIN
ADMIN_USER_EMAIL=user@user.ca

# THERE IS A SCRIPT THAT WILL GENERATE A SQLSERVER SCHEMA OR POSTGRES SCHEMA CALLED build-schema.ts
# SQL SERVER IS MORE STRICT AND IT DEFAULTS TO VARCHAR(1000) FOR ALL STRING REFERENCES
# 
# sqlserver OR postgresql
DATABASE_PROVIDER=sqlserver 
DATABASE_NAME=outstanding_public_utilities
DATABASE_HOST=localhost

# sqlserver=1433 OR postgresql=5432
DATABASE_PORT=1433          

#THE FIRST TIME MIGRATION AND SEED IS RUN THIS USER SHOULD BE A SYSTEM ADMINISTRATOR
DATABASE_USER_USERNAME=prisma
DATABASE_USER_PASSWORD=prisma

DATABASE_URL_SQLSERVER=sqlserver://${DATABASE_HOST}:${DATABASE_PORT};database=${DATABASE_NAME};user=${DATABASE_USER_USERNAME};password=${DATABASE_USER_PASSWORD};encrypt=true;trustServerCertificate=true
DATABASE_URL_POSTGRESQL=postgresql://${DATABASE_USER_USERNAME}:${DATABASE_USER_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

#
# OAUTH PROVIDERS
#

GITHUB_ID=1111
GITHUB_SECRET=2222

AZURE_AD_CLIENT_ID=3333
AZURE_AD_CLIENT_SECRET=4444
AZURE_AD_TENANT_ID=5555
